.el-menu-item{
  font-size: 14px;
  &.is-active{
    background-color: #f56c6c !important;
  }
}

.el-menu {
  border-right: solid 0 #e6e6e6;
}

.el-table th.gutter {
  display: table-cell!important;
}

.el-popover {
  min-width: 100px;
}