#head_menu {
    background-color: #409EFF;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login_head_title {
    font-family:"等线" , serif;
    color: #f2f2f2;
    padding: 0 100px;
}

.el-menu-item {
    font-size: 16px;
    font-family:"等线" , serif
}

.router_p {
    font-family:"等线" , serif;
    color: white;
    padding: 0 10px;
    font-size: 14px;
}

.el-submenu__title {
    font-size: 16px;
    font-family:"等线" , serif
}

.el-submenu__title i {
    color: #FFFFFF;
}

.head_hr {
    border:0.5px solid #FFFFFF;
    height:15px;
}

#head_tail {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 0 50px;
}

a:hover {
    text-decoration: none;
}