#myProject {
    display: flex;
    flex-direction: row;
}

.message {
    width: 1200px;
    margin: 0 auto;
}

/deep/.el-tabs__item {
    font-family: "幼圆" , serif;
    width: 150px;
    height: 80px;
    font-size: 16px;
}
