#myProject {
    display: flex;
    flex-direction: row;
}

.el-tabs__item {
    font-size: 16px;
}

#createdProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#newProject {
    margin: 10px 10px;
    width: 300px;
    height: 280px;
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}

#newProject:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .12), 0 0 12px rgba(0, 0, 0, .04);
    transition: box-shadow 0.5s;
}

/deep/.el-button--small {
    display: block;
    text-align: left;
}

#new_icon {
    font-size: 150px;
    margin: 0 auto;
    color: #dcdcdc;
}

#new_p {
    font-size: 16px;
    color: #999;
}