#myProject {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 50px 0;
}

#exitProject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .12), 0 0 12px rgba(0, 0, 0, .04);
}

#competitionName {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

#projectForm {
    margin: 0 auto;
    width: 600px;
    background-color: #FFFFFF;
    padding: 50px;
    height: 600px;
}

#buttoms {
    margin-bottom: 50px;
}

.formLeft {

}

/deep/.el-tag + .el-tag {
    margin-left: 10px;
}

/deep/.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

/deep/.input-new-tag {
    width: 120px;
    margin-left: 10px;
    vertical-align: bottom;
}